# Ignoriere IDE- und Notebook-Cache
.idea/
.ipynb_checkpoints/

# Ignoriere Python-Cache
__pycache__/
*.pyc

# Datenordner (Roh- und Cleaned)
data/raw/


# Externe Repos
extern/
FinGPT/
FinRL_Contest_2025/
FinRobot/
