# data/analysis
pandas
numpy
pyyaml
pyarrow
fastparquet

# calendars, io, test
exchange_calendars
pandas-market-calendars
loguru
pytest

# RL stack
gymnasium==0.29.1
shimmy>=1.3
stable-baselines3==2.7.0
tensorboard==2.17.1
